.cuidados-card {
    margin: 0 20px 20px 20px;
    background: #e3f2fd;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    
    mat-card-header {
      background-color: #90caf9;
      border-radius: 4px 4px 0 0;
      padding: 10px;
    }
  
    mat-card-title {
      font-size: 24px;
      font-weight: bold;
      color: #0d47a1;
    }
  
    mat-card-subtitle {
      font-size: 14px;
      color: #1976d2;
    }
  
    section {
      margin-top: 10px;
      
      h3 {
        font-size: 18px;
        color: #1565c0;
        margin-bottom: 5px;
      }
  
      p {
        font-size: 16px;
        line-height: 1.5;
        color: #424242;
      }
    }
  }

  .card-body {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    padding: 10px;
  
    .imagem-container {
      flex: 1;
      max-width: 300px;
      height: 100%;
      display: flex;
  
      img {
        width: 100%;
        height: auto;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      }
    }
  
    .info-container {
      flex: 2;
    }
  }
  
.main{
    margin-top: 5rem;
}

.search-bar {
  width: 100%;

}

