<header class="header">
  <img
    alt="Background image of a chameleon"
    class="header-image"
    src="assets/home-bg.jpg"
  />
  <div class="overlay">
    <h1>Bem vindo ao Pet All Friendly!</h1>
    <p>Seu guia para bem-estar de pets exóticos.</p>
  </div>
</header>

<main class="container">
  <section class="section">
    <h2>Cuidados Essenciais:</h2>
    <div class="grid">
      <div class="card">
        <h3>Ambiente adequado</h3>
        <p>Animais exóticos precisam de espaço, temperatura e iluminação ideais.</p>
      </div>
      <div class="card">
        <h3>Alimentação correta</h3>
        <p>Cada espécie tem exigências únicas. Evite dietas genéricas!</p>
      </div>
      <div class="card">
        <h3>Saúde preventiva</h3>
        <p>Visitas regulares ao veterinário e sinais de alerta para cada animal.</p>
      </div>
    </div>
  </section>

  <section class="section">
    <h2>Conheça os Pets que ajudamos:</h2>
    <div class="grid-vaccine">
      <div class="steps">
        <div class="step">
          <span>1</span>
          <div>
            <h3>🦜 Aves exóticas</h3>
            <p>Ppequeno, médio e grande porte.</p>
          </div>
        </div>
        <div class="step">
          <span>2</span>
          <div>
            <h3>🐷 Porquinhos-da-índia</h3>
            <p>Informações com muito coletadas com muito amor e dedicação.</p>
          </div>
        </div>
        <div class="step">
          <span>3</span>
          <div>
            <h3>🦎 Répteis domésticos</h3>
            <p>Entre outros Pets 🦔.</p>
          </div>
        </div>
      </div>
      <div class="vaccine-image">
        <img
          alt="Veterinarian holding two small animals"
          src="assets/veterinario.jpg"
        />
      </div>
    </div>
  </section>



  <section class="reminders-section">
    <div class="reminders-container">
      <h2>Lembretes Personalizados: Nunca Perca um Compromisso Importante</h2>
      <div class="reminder-icons">
        <div class="reminder-item">
          <i class="fas fa-syringe"></i>
          <p>Vacinação</p>
        </div>
        <div class="reminder-item">
          <i class="fas fa-stethoscope"></i>
          <p>Consultas</p>
        </div>
        <div class="reminder-item">
          <i class="fas fa-pills"></i>
          <p>Medicação</p>
        </div>
        <div class="reminder-item">
          <i class="fas fa-paw"></i>
          <p>Vermifugação</p>
        </div>
      </div>
      <p class="reminder-text">
        Receba notificações sobre vacinação, consultas, medicações e vermifugação. Personalize os lembretes de acordo com as necessidades do seu pet.
      </p>
    </div>
  </section>






  <div class="pinkcards">
    <section class="vet-section">
      <div class="content-box">
        <h1>Consultas Veterinárias: Conecte-se com Especialistas</h1>
        <div class="steps-container">
          <div class="steps-index">
            <div class="step-number">1</div>
            <div class="step-number">2</div>
            <div class="step-number">3</div>
          </div>
          <div class="steps-content">
            <div class="step">
              <h2>Busque</h2>
              <p>Encontre veterinários especializados em animais exóticos perto de você.</p>
            </div>
            <div class="step">
              <h2>Visite</h2>
              <p>Veja veterinários proximos e os visite ou pegue o número deles pelo google Maps.</p>
            </div>
            <div class="step">
              <h2>Tudo isso na aba Veterinários:</h2>
              <p>Busque especialistas e esclareça suas dúvidas sobre a saúde do seu pet.</p>
              <button style="margin-top: 10px;" class="mr" mat-raised-button color="primary" routerLink="/veterinarios">
                <mat-icon>local_hospital</mat-icon>
                Veterinários
              </button>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="ibama-section">
      <div class="content-box">
        <h1>Compra Segura e Legal:</h1>
        <div class="steps-container">
          <div class="steps-index">
            <div class="step-number">1</div>
            <div class="step-number">2</div>
            <div class="step-number">3</div>
            <div class="step-number">4</div>
          </div>
          <div class="steps-content">
            <div class="step">
              <h2>Origem</h2>
              <p>Sempre adquira animais de criadouros autorizados pelo IBAMA ou órgãos ambientais estaduais.</p>
            </div>
            <div class="step">
              <h2>Documentação</h2>
              <p>Mantenha toda a documentação do animal, incluindo nota fiscal e certificado de origem.</p>
            </div>
            <div class="step">
              <h2>Autorização</h2>
              <p>Algumas espécies exigem autorização prévia para criação. Verifique as exigências específicas para cada animal.</p>
            </div>
            <div class="step">
              <h2>Animais isentos de autorização do IBAMA</h2>
              <p> <a class="ibama-link" href="https://www.ibama.gov.br/component/legislacao/?view=legislacao&legislacao=102740" target="_blank" rel="noopener noreferrer">
                  IBAMA Legislação. </a> </p>
            </div>
          </div>
        </div>
        <!-- <p class="ibama-warning">
          Evite problemas com a lei e garanta o bem-estar do seu animal. Informe-se sobre as normas do IBAMA.
        </p> -->
      </div>
    </section>
  </div>

</main>

